body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.form,
.filters,
.card,
.summary {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  cursor: pointer;
}

.card button {
  width: auto;
  margin-right: 10px;
}
